<!DOCTYPE html>
<html
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/adminlte.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}">

</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <th:block th:replace="admin/layouts/header :: header"></th:block>

    <th:block th:replace="admin/layouts/sidebar :: sidebar"></th:block>

    <div class="content-wrapper">

        <section class="content">

            <div layout:fragment="content"></div>

        </section>

    </div>


    <th:block th:replace="admin/layouts/footer :: footer"></th:block>

    <aside class="control-sidebar control-sidebar-dark">
    </aside>
</div>

<script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/js/jquery-ui.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.js}"></script>
<script th:src="@{/assets/js/adminlte.min.js}"></script>
<script th:src="@{/assets/js/all.min.js}"></script>
<script th:src="@{/assets/js/sweetalert.js}"></script>
<th:block layout:fragment="scripts"></th:block>
</body>

<th:block th:replace="layouts/successFailAlert :: alert"></th:block>

</html>