<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="category" th:with="category = ${category}">
    <div class="category-contain">
        <div class="img-wrapper">
            <a th:href="${category.getUrl()}">
                <img th:src="${category.getImageUrl()}" alt="category  " class="img-fluid"> kero
            </a>
        </div>
        <a th:href="${category.getUrl()}" class="btn-rounded" th:text="${category.name}">

        </a>
    </div>
</div>
</html>