<!doctype html>
<html
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}"
>

<body>
<div layout:fragment="content">

    <!-- breadcrumb start -->
    <div class="breadcrumb-main ">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-contain">
                        <div>
                            <h2>category</h2>
                            <ul>
                                <li><a href="index.html">home</a></li>
                                <li><i class="fa fa-angle-double-right"></i></li>
                                <li><a href="javascript:void(0)">category</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!-- section start -->
    <section class="section-big-pt-space ratio_asos b-g-light">
        <div class="collection-wrapper">
            <div class="custom-container">
                <div class="row">
                    <div class="col-sm-3 collection-filter category-page-side">
                        <div id="option-values-list"
                             class="collection-filter-block creative-card creative-inner category-side">

                        </div>

                    </div>
                    <div class="collection-content col">
                        <div class="page-main-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="collection-product-wrapper">
                                        <div class="product-top-filter">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="filter-main-btn"><span class="filter-btn  "><i
                                                            class="fa fa-filter" aria-hidden="true"></i> Filter</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="product-filter-content">
                                                        <div class="search-count">
                                                            <h5>Showing Products 1-24 of 10 Result</h5></div>
                                                        <div class="collection-view">
                                                            <ul>
                                                                <li><i class="fa fa-th grid-layout-view"></i></li>
                                                                <li><i class="fa fa-list-ul list-layout-view"></i></li>
                                                            </ul>
                                                        </div>
                                                        <div class="collection-grid-view">
                                                            <ul>
                                                                <li><img src="/images/category/icon/2.png" alt=""
                                                                         class="product-2-layout-view"></li>
                                                                <li><img src="/images/category/icon/3.png" alt=""
                                                                         class="product-3-layout-view"></li>
                                                                <li><img src="/images/category/icon/4.png" alt=""
                                                                         class="product-4-layout-view"></li>
                                                                <li><img src="/images/category/icon/6.png" alt=""
                                                                         class="product-6-layout-view"></li>
                                                            </ul>
                                                        </div>
                                                        <div class="product-page-per-view">
                                                            <select>
                                                            </select>
                                                        </div>
                                                        <div class="product-page-filter">
                                                            <select>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-wrapper-grid product">
                                            <div class="row all-product">

                                            </div>
                                        </div>
                                        <div class="product-pagination">
                                            <div class="theme-paggination-block">
                                                <div class="row">
                                                    <div class="col-xl-6 col-md-6 col-sm-12">
                                                        <nav aria-label="Page navigation">
                                                            <ul class="pagination">

                                                            </ul>
                                                        </nav>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section End -->


</div>

<th:block layout:fragment="scripts">
    <script th:src="@{/assets/js/rangeSlider.js}"></script>

    <script>
        $(".js-range-slider").ionRangeSlider({
            type: "double",
            grid: true,
            min: 0,
            max: 1000,
            from: 200,
            to: 800,
            prefix: "$"
        });
    </script>

    <script>
        $(function () {

            const optionValue = ({name, value, optionName, type}) => {
                const id = "ov-" + Math.random();

                return `<div class="custom-control custom-checkbox form-check collection-filter-checkbox">
                            <input data-option-name="${optionName}" data-option-value="${value}" data-option-type="${type}" type="checkbox" class="custom-control-input form-check-input" id="${id}">
                            <label class="custom-control-label form-check-label" for="${id}">${name}</label>
                        </div>`;
            };

            const optionFilterDev = ({values = [{/****/}], optionName, type}) => {

                const optionsValues = values.map(v => optionValue({...v, optionName, type})).join("");

                return `<div class="collection-collapse-block open">
                            <h3 class="collapse-block-title">${optionName}</h3>
                            <div class="collection-collapse-block-content">
                                <div class="collection-brand-filter">
                                    ${optionsValues}
                                </div>
                            </div>
                        </div>`;
            };

            const refreshOptions = (options) => {
                $("#option-values-list").children().remove();


                options.filter(o => o.type === "option").forEach((property) => {
                    let newOptions = property.options.map(c => {
                        c.value = c.id;
                        delete c.id;
                        return c;
                    });

                    $("#option-values-list").append(optionFilterDev({
                        values: newOptions,
                        optionName: property.name,
                        type: property.type
                    }));
                });


                // -------------- price
                const priceOption = options.find(o => o.name === "price");

                $("#option-values-list").append(`
                    <div class="collection-collapse-block border-0 open">
                            <h3 class="collapse-block-title">price</h3>
                            <div class="collection-collapse-block-content">
                                <div class="filter-slide">
                                    <input class="js-range-slider" type="text" name="my_range" value=""
                                           data-type="double">
                                </div>
                            </div>
                        </div>`);

                $(".js-range-slider").ionRangeSlider({
                    type: "double",
                    grid: true,
                    min: 0,
                    max: 1000,
                    from: priceOption.from,
                    to: priceOption.to,
                    prefix: "$"
                });
            };

            const refreshPage = (response, canRefreshOption = true) => {
                if (canRefreshOption)
                    refreshOptions(response.options);
                $('.all-product').children().remove();

                for (let product of response.products.data) {
                    $('.all-product').append(
                        productBoxHtml(product)
                    )
                }

            };

            const reGetData = ({properties = []} = {}) => {
                $.ajax({
                    "url": "/products/filter",
                    "method": "POST",
                    "timeout": 0,
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "data": JSON.stringify({
                        "properties": properties
                    }),
                }).done(function (response) {
                    refreshPage(response, properties.length === 0);
                });
            };

            reGetData();

            const productBoxHtml = (product) => {
                return `<div class="col-xl-3 col-md-4 col-6  col-grid-box">
                                        <div class="product-box">
                                            <div class="product-imgbox">
                                                <div class="product-front">
                                                    <a href="${product.url}">
                                                        <img src="${product.imageUrl}" class="img-fluid" alt="product">
                                                     </a>
                                                </div>
                                                <div class="product-back">
                                                    <a href="${product.url}">
                                                        <img src="${product.imageUrl2}" class="img-fluid" alt="product">
                                                     </a>
                                                </div>
                                            </div>
                                            <div class="product-detail detail-center detail-inverse">
                                                <div class="detail-title">
                                                    <div class="detail-left">
                                                        <div class="rating-star"><i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <p>${product.description}</p>
                                                        <a href="product-page(left-sidebar).html">
                                                            <h6 class="price-title">${product.title}</h6>
                                                        </a>
                                                    </div>
                                                    <div class="detail-right">
                                                        <div class="price">
                                                            <div class="price"> $${product.price}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="icon-detail">
                                                    <button class="tooltip-top add-cartnoty add-to-cart-button" data-product-id="${product.id}" data-tippy-content="Add to cart">
                                                        ${feather.icons['shopping-cart'].toSvg()}
                                                    </button>
                                                    <button class="add-to-wish tooltip-top" data-tippy-content="Add to Wishlist">
                                                        ${feather.icons['heart'].toSvg()}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`;
            };

            //    -------------------------------------------------------
            $(document).on("change", ".form-check-input", function () {
                const properties = [];

                $(".form-check-input:checked").each(function () {
                    const name = $(this).data('option-name');
                    const value = $(this).data('option-value');

                    let property = properties.find(prop => prop.name == name);
                    if (!property) {
                        property = {name, values: []};
                        properties.push(property);
                    }
                    property.values.push(value);
                });
                reGetData({properties});
            });
        });
    </script>
</th:block>
</body>
</html>