<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="product" class="product-box">
    <div class="product-imgbox">
        <div class="product-front">
            <a href="product-page(left-sidebar).html">
                <img src="/images/layout-5/product/1.jpg" class="img-fluid  " alt="product">
            </a>
        </div>
        <div class="product-back">
            <a href="product-page(left-sidebar).html">
                <img src="/images/layout-5/product/7.jpg" class="img-fluid  " alt="product">
            </a>
        </div>
        <div class="product-icon icon-inline">
            <button data-bs-toggle="modal" data-bs-target="#addtocart" class="tooltip-top"
                    data-tippy-content="Add to cart">
                <i data-feather="shopping-cart"></i>
            </button>
            <a href="javascript:void(0)" class="add-to-wish tooltip-top"
               data-tippy-content="Add to Wishlist">
                <i data-feather="heart"></i>
            </a>
            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#quick-view"
               class="tooltip-top" data-tippy-content="Quick View">
                <i data-feather="eye"></i>
            </a>
            <a href="compare.html" class="tooltip-top" data-tippy-content="Compare">
                <i data-feather="refresh-cw"></i>
            </a>
        </div>
    </div>
    <div class="product-detail detail-inline">
        <div class="detail-title">
            <div class="detail-left">
                <div class="rating-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <a href="product-page(left-sidebar).html">
                    <h6 class="price-title">
                        Vacuum Cleaner
                    </h6>
                </a>
            </div>
            <div class="detail-right">
                <div class="check-price">
                    $ 81.21
                </div>
                <div class="price">
                    <div class="price">
                        $ 75.05
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>