<!doctype html>
<html
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layouts/master.html}"
        th:with="title = ${blog.id} ? 'Edit Blog ' + ${blog.id} : 'Create Blog'"
>

<head>
    <title th:text="${title}"></title>
</head>

<body th:with="action = ${blog.id} ? '/admin/blogs/' + ${blog.id} : '/admin/blogs' , method = ${blog.id} ? 'put' : 'post'">
<div layout:fragment="content">
    <h1 th:text="${title}"></h1>
    <div class="card">
        <div class="card-header">
            <th:block th:replace="admin/blogs/components/blog_tabs :: tab(active = 'create')"></th:block>
        </div>
        <div class="card-body">
            <form th:action="${action}" th:object="${blogRequest}" method="post" class="row" enctype="multipart/form-data">
                <input type="hidden" name="_method" value="put"/>

                <div th:replace="includes/input :: input(grid=6,name='title',value=*{title})"></div>

                <div th:replace="includes/input :: input(grid=6,name='content',value=*{content})"></div>

                <div th:replace="includes/input :: input(grid=6,name='createdBy',label='Created By',value=*{createdBy})"></div>

                <div th:replace="includes/input :: input(grid=6,name='image',type='file')"></div>

                <div class="col-md-12"></div>

                <div class="col-md-3">
                    <button class="btn btn-sm btn-success" type="submit">
                        Submit <i class="far fa-check"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>