<!doctype html>
<html
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}"
>

<div layout:fragment="content">
    <!-- section start -->
    <section class="section-big-py-space b-g-light">
        <div class="custom-container">
            <div class="checkout-page contact-page">
                <div class="checkout-form">
                    <form>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <div class="checkout-title">
                                    <h3>Billing Details</h3></div>
                                <div class="theme-form">
                                    <div class="row check-out ">
                                        <button type="button" onclick="openAccount()" class="btn btn-info">Login Or
                                            Register
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <div class="checkout-details theme-form  section-big-mt-space">
                                    <div class="order-box">
                                        <div class="title-box">
                                            <div>Product <span>Total</span></div>
                                        </div>
                                        <ul class="qty cart-items">

                                        </ul>

                                        <ul class="total">
                                            <li>Total <span class="total_count total-price">0</span></li>
                                        </ul>
                                    </div>
                                    <div class="payment-box">
                                        <div class="upper-box">
                                            <div class="payment-options">
                                                <ul>
                                                    <li th:each="paymentMethod : ${paymentMethods}">
                                                        <div class="radio-option">
                                                            <input type="radio" name="payment-method-id"
                                                                   th:attr="id=${'payment-'+paymentMethod.id}"
                                                                    th:value="${paymentMethod.id}">
                                                            <label th:attr="for=${'payment-'+paymentMethod.id}"
                                                                   th:text="${paymentMethod.display_name}">Check
                                                                Payments</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <a href="javascript:void(0)" id="place-order" class="btn-normal btn ">
                                                Place Order
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

</div>

<th:block layout:fragment="scripts">
    <script>
        $(function () {
            cart.getProducts().forEach((product) => {
                $('.cart-items').append(
                    `<li><img src="${product.imageUrl}" width="50" height="50"> ${product.title} × ${product.quantity} <span>$${product.quantity * product.price}</span></li>`
                )
            });
        });

        $("#place-order").click(function () {
            if (!auth.isAuth()) {
                alert("please login first");
                openAccount();
                return;
            }

            const paymentMethodId = $('input[name="payment-method-id"]:checked').val();
            const dataToSend = {
                paymentMethodId,
                orderItems: []
            };

            for (let cartItem of cart.getProducts()) {
                dataToSend.orderItems.push({
                    productId: cartItem.id,
                    quantity: cartItem.quantity,
                })
            }


            $.ajax({
                "url": `/orders/create`,
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json",
                    "Authorization": `Bearer ${auth.getToken()}`
                },
                "data": JSON.stringify(dataToSend),
            }).done(function (response) {
                location.href = response.url;
            }).fail(function (response) {
                const errors = response.responseJSON?.errors ?? [];
                for (let error in errors) {
                    alert(errors[error]);
                    return;
                }
            });
        });
    </script>
</th:block>

</html>