<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="blog" class="row blog-media" th:with="blog = ${blog}">
    <div class="col-xl-6 ">
        <div class="blog-left">
            <a th:href="${blog.getUrl()}">
                <img th:src="${blog?.getImageUrl()}" class="img-fluid  "
                                              alt="blog-left">
            </a>
            <div class="label-block">
                <div class="date-label">
                    26 nov 2019
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 ">
        <div class="blog-right">
            <div>
                <a th:href="${blog.getUrl()}"><h4 th:text="${blog.title}"></h4></a>
                <ul class="post-social">
                    <li th:text="'Posted By ' + ${blog.createdBy}"></li>
                    <li><i class="fa fa-heart"></i> <span th:text="${blog.likeCount} +' Hits'"></span></li>
                    <li><i class="fa fa-comments"></i> 10 Comment</li>
                </ul>
                <p th:text="${blog.getContentNWords(50)}">
                </p>
            </div>
        </div>
    </div>
</div>
</html>