<!doctype html>
<html
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/authorities/layouts/auth_master.html}"
>
<head>
    <title th:text="'edit Admin ' + ${admin.name}"></title>
</head>

<body th:with="action = ${admin.id} ? '/admin/authorities/admins/'+ ${admin.id} +'/update' : '/admin/authorities/admins/store' , method = ${admin.id} ? 'put' : 'post'">

<div layout:fragment="content" class="max-w-6xl mx-auto py-6 sm:px-6 lg:px-8">

    <header class="bg-white shadow">
        <div class="max-w-6xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold leading-tight text-gray-900">
                Add/Edit Admin
            </h1>
        </div>
    </header>

    <div class="px-4 py-6 sm:px-0">

        <div class="flex flex-col">
            <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-32">
                <form
                        th:method="${method}"
                        th:action="${action}"
                        class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200 p-8"
                >
                    <input type="hidden" name="_method" th:value="${method}"/>
                    <label class="block">
                        <span class="text-gray-700">Name</span>
                        <input
                                class="form-input mt-1 block w-full"
                                name="name"
                                placeholder="Admin Name"
                                th:value="${admin.name}"
                                autocomplete="off"
                        >
                    </label>
                    <span class="block text-gray-700 mt-4">Roles</span>
                    <div class="flex flex-wrap justify-start mb-4">
                        <label th:each="role : ${roles}" class="inline-flex items-center mr-6 my-2 text-sm"
                               style="flex: 1 0 20%;">
                            <input
                                    type="checkbox"
                                    class="form-checkbox h-4 w-4"
                                    th:checked="${admin_strings_roles.indexOf(role.getName()) != -1}"
                                    name="roles"
                                    th:value="${role.id}"
                            >
                            <span class="ml-2" th:text="${role.name}"></span>
                        </label>


                    </div>
                    <span class="block text-gray-700 mt-4">Permissions</span>
                    <div class="flex flex-wrap justify-start mb-4">
                        <label th:each="permission : ${permissions}" class="inline-flex items-center mr-6 my-2 text-sm"
                               style="flex: 1 0 20%;">
                            <input
                                    type="checkbox"
                                    class="form-checkbox h-4 w-4"
                                    name="permissions[]"
                                    th:checked="${admin_strings_permissions.indexOf(permission.getName()) != -1}"
                                    th:value="${permission.id}"

                            >
                            <span class="ml-2" th:text="${permission.name}"></span>
                        </label>
                    </div>
                    <div class="flex justify-end">
                        <a
                                href="http://tele.devo/laratrust/roles-assignment?model=users"
                                class="btn btn-red mr-4"
                        >
                            Cancel
                        </a>
                        <button class="btn btn-blue" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>