<!doctype html>
<html
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}"
>

<body>
<div layout:fragment="content">
    <!-- breadcrumb start -->
    <div class="breadcrumb-main ">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-contain">
                        <div>
                            <h2>blog detail</h2>
                            <ul>
                                <li><a href="@{/}">Home</a></li>
                                <li><i class="fa fa-angle-double-right"></i></li>
                                <li><a th:href="@{/blogs}">Blogs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->

    <!--section start-->
    <section class="blog-detail-page section-big-py-space ratio2_3">
        <div class="container">
            <div class="row section-big-pb-space">
                <div class="col-sm-12 blog-detail">
                    <div class="creative-card">
                        <img th:src="${blog.getImageUrl()}" class="img-fluid w-100 " alt="blog">
                        <h3 th:text="${blog.title}"></h3>
                        <ul class="post-social">
                            <li>25 January 2018</li>
                            <li>Posted By : <span th:text="${blog.createdBy}"></span></li>
                            <li><i class="fa fa-heart"></i> <span th:text="${blog.likeCount}"></span> Hits</li>
                            <li><i class="fa fa-comments"></i> 10 Comment</li>
                        </ul>
                        <p th:text="${blog.content}"></p>
                    </div>
                </div>
            </div>

            <div class=" row blog-contact">
                <div class="col-sm-12  ">
                    <div class="creative-card">
                        <h2>Leave Your Comment</h2>
                        <form class="theme-form" action="/blog_comment/" method="post">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter Your name" required="">
                                </div>
                                <div class="col-md-12">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" id="email" placeholder="Email" required="">
                                </div>
                                <div class="col-md-12">
                                    <label for="exampleFormControlTextarea1">Comment</label>
                                    <textarea class="form-control" placeholder="Write Your Comment" id="exampleFormControlTextarea1" rows="6"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-normal" type="submit">Post Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->

</div>
</body>
</html>