<!doctype html>
<html
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}"
>

<body>
<div layout:fragment="content">
    <!-- breadcrumb start -->
    <div class="breadcrumb-main ">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-contain">
                        <div>
                            <h2>blog detail</h2>
                            <ul>
                                <li><a href="@{/}">Home</a></li>
                                <li><i class="fa fa-angle-double-right"></i></li>
                                <li><a th:href="@{/blogs}">Blogs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->

    <!--section start-->
    <section class="blog-detail-page section-big-py-space ratio2_3">
        <div class="container">
            <div class="row section-big-pb-space">
                <div class="col-sm-12 blog-detail">
                    <div class="creative-card">
                        <img th:src="${blog?.getImageUrl()}" class="img-fluid w-100 " alt="blog">
                        <h3 th:text="${blog.title}"></h3>
                        <ul class="post-social">
                            <li>25 January 2018</li>
                            <li>Posted By : <span th:text="${blog.createdBy}"></span></li>
                            <li><i class="fa fa-heart"></i> <span th:text="${blog.likeCount}"></span> Hits</li>
                            <li><i class="fa fa-comments"></i> 10 Comment</li>
                        </ul>
                        <p th:text="${blog.content}"></p>
                    </div>
                </div>
            </div>


            <div class="row section-big-pb-space">
                <div class="col-sm-12 ">
                    <div class="creative-card">
                        <ul class="comment-section">
                            <li th:each="comment : ${comments}" style="display: block">
                                <div class="media"><img src="/images/avtar/3.jpg" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h6>
                                            <b th:text="${comment.name}"></b>
                                            <span th:text="${comment.createdAt}">( 12 Jannuary 2018 at 1:30AM )</span>
                                        </h6>
                                        <p th:text="${comment.comment}"></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <p th:text="${#fields.errors('blog_comment.name')} ? ''"></p>
            <div class=" row blog-contact">
                <div class="col-sm-12  ">
                    <div class="creative-card">
                        <h2>Leave Your Comment</h2>

                        <form class="thdeme-form" th:action="@{/blogs/{id}/comment(id=${blog.id})}" method="post"
                              th:object="${blog_comment}">
                            <div th:replace="includes/input :: input(grid=12,name='name',value=*{name})"></div>

                            <div th:replace="includes/input :: input(grid=12,name='email',value=*{email})"></div>

                            <div th:replace="includes/input :: input(grid=12,name='comment',value=*{comment})"></div>

                            <div class="row g-3">

                                <div class="col-md-12">
                                    <button class="btn btn-normal" type="submit">Post Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->

</div>
</body>
</html>