<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<th:block th:fragment="input" layour:fragment="input"
          th:with="name = ${name} ?: null , label = ${label} ?: ${name}, value = ${value} ?: null, grid = ${grid} ?: '6' , i = ${i} ?: 'fa fa-user' , type = ${type} ?: 'text' , errorName = ${errorName} ?: ${name} , multiple = ${multiple} ?: false"
>
    <div th:class="${'col-md-'} + ${grid}">
        <div class="form-group form-group-input-border border border-dark-blue" style="">
            <label>
                <span th:text="${label}"></span>
                <i th:class="${i}"></i>
            </label>
            <th:block th:each="err : ${#fields.detailedErrors()}"  >
                <label th:if="${err.getFieldName()} == ${name} or ${err.getFieldName()} == ${errorName}" th:text="${err.getMessage()}" class="text-danger text-sm mb-1"></label>
            </th:block>

            <input th:multiple="${multiple}" th:if="${name} != null" th:type="${type}" th:name="${name}" class="form-control border-0 " th:value="${value}">
            <th:block layout:fragment="other">

            </th:block>
        </div>
    </div>

</th:block>
</html>
