<!DOCTYPE html>
<html
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <link rel="shortcut icon" href="http://tele.devo/vendor/laratrust/img/logo.png">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
    <link href="http://tele.devo/vendor/laratrust/laratrust.css?id=41ea7a306eda21950d93" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/all.min.css}">
</head>
<body>
<div>
    <th:block th:replace="admin/authorities/layouts/auth_header :: header"></th:block>


    <main>
        <div layout:fragment="content"></div>
    </main>

</div>
</body>
<script th:src="@{/assets/js/all.min.js}"></script>
<th:block th:replace="layouts/successFailAlert :: alert"></th:block>

</html>