<!doctype html>
<html
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layouts/master.html}"
        th:with="title = ${category.id} ? 'Edit Category ' + ${category.id} : 'Create Category'"
>

<head>
    <title th:text="${title}"></title>
</head>

<body th:with="action = ${category.id} ? '/admin/categories/' + ${category.id} : '/admin/categories/' , method = ${category.id} ? 'put' : 'post'">
<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <th:block th:replace="admin/categories/components/category_tabs :: tab(active = 'create')"></th:block>
        </div>
        <div class="card-body">
            <form th:action="${action}" th:object="${categoryRequest}" method="post" class="row" enctype="multipart/form-data">
                <input type="hidden" name="_method" th:value="${method}"/>

                <div th:replace="includes/input :: input(grid=6,name='name',value=*{name} ?: ${category.name})"></div>

                <div th:replace="includes/input :: input(grid=6,name='description',value=*{description} ?: ${category.description})"></div>

                <div th:replace="includes/input :: input(grid=6,name='image',type='file',errorName='fileRequired')"></div>

<!--                <div class="col-md-12"></div>-->

                <div class="col-md-3">
                    <button class="btn btn-sm btn-success" type="submit">
                        Submit <i class="far fa-check"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>